@tailwind base;

/*! purgecss start ignore */
@import './docsearch.css';
/*! purgecss end ignore */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer components {
  .heading-link {
    margin-left: -20px;
    padding-right: 6px;
    line-height: 1;
  }

  .prose h1:hover .icon-link, .prose h2:hover .icon-link, .prose h3:hover .icon-link, .prose h4:hover .icon-link, .prose h5:hover .icon-link, .prose h6:hover .icon-link {
    visibility: visible;
  }

  .heading-link .icon-link, .row-link {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z' clip-rule='evenodd' /%3E%3C/svg%3E");
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    visibility: hidden;
  }

  .row-link {
    margin-left: 20px;
    line-height: 1;
  }

  .col-copy {
    margin-left: 10px;
    line-height: 1;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    visibility: hidden;
  }

  .prose td:hover .row-link, .prose tr:hover .icon-link, .prose td:hover .col-copy, .prose tr:hover .col-copy {
    visibility: visible;
  }

  .toc-active {
    @apply font-semibold text-gray-900 !important;
  }

  .config-info ul > li > h5, ul > li > h6 {
    margin-left: -1.75em;
  }

  .config-info ul > li::before {
    content: none;
  }

  @import 'node_modules/highlight.js/styles/github-dark.css';
  @import './minecraft.css';
}
